/* fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&family=Poppins:wght@400;500&display=swap');

/* base style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}
/*---------------- base style ends -------------*/

/* ----navbar starts---- */
header {
    background-color: #562eff;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu-bar a {
    text-decoration: none;
    margin-right: 30px;
    color: #ffffff;
}
.menu-bar a:hover{
    color: #ffff99;
}
.logo img {
  width: 40px;
  height: 51px;
}
.logo span {
    font-size: 30px;
    color: white;
}
.logo span:hover{
    color: #ffff33;
}
.logo {
    margin-right: -114px;
}

/* ----navbar ends---- */

/* Ranked Player Style */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
.top-players{
    margin-bottom: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}
.sec-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* -------------------
   top blogs style 
-------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    margin-top: 31px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/*-----------------
    courses style
------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-column-gap: 24px;
}

.course{
    background-color:  #e6ccff;
    border-radius: 10px;
    box-shadow: lightslategrey 5px 10px 10px;
}
.interior{
    margin-top: 14px;
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 10px;

}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-author{
    color: #ff751a;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
    background-color: #FFE4E8;
    width: 95px;
    height: 30px;
    border-radius: 15px;
}
.time{
    color: #FF4A60;
    font-weight: 600;
    margin: 5px 10px;
    font-size: 14.6913px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;

}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}

/*-----------------
     Media Queries 
-------------------*/

/*----------- Mobile devices --------*/
@media only screen and (max-width:688px) { 
    header{
        width: 406px;
    }
    nav{
        display: flex;
    }
    .logo{
        display: none;
        justify-content: center;
        align-items: center;
    }
    main{
        margin-left: 15px;
    }
    .container{
        width: 100%;
    }
    .courses{
        grid-row-gap: 50px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
 
}

/*------------- tablet devices ---------------*/
@media only screen and (min-width: 668px) and (max-width: 992px) {
    .container{
        width: 90%;
    }
    .players{
       grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
}